<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="polymer-drupal-contracts">
    <description>PHP CodeSniffer configuration for the Polymer Drupal contracts.</description>
    <file>src</file>
    <rule ref="PSR12"/>

    <arg value="n" />
    <arg value="s" />
</ruleset>
